<%= form_for @payment, url: {action: "update"} do |f| %>
  
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>
      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Monto de Pago</label>
        <%= f.number_field :amount, class: "form-control", required: true %>
      </div>  
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Fecha de Pago</label>
        <%= f.date_field :date, class: "form-control", required: true %>
      </div>  
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Concepto de Pago</label>
        <%= f.text_field :concept, class: "form-control", required: true %>
      </div>  
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Banco de Origen</label>
        <%= f.text_field :bank, class: "form-control", required: true %>
      </div>  
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Referencia de Pago</label>
        <%= f.text_field :reference, class: "form-control", required: true %>
      </div>  
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Titular de Cuenta</label>
        <%= f.text_field :owner, class: "form-control"%>
      </div>  
    </div>
  </div>
  <div class="form-group">
    <label>Status</label>
    <%= f.select :status, options_for_select([["Confirmado", 1],["Por Confirmar", 0]], selected: @payment.status), {}, {class: 'selectpicker'} %>
  </div>

  <%= f.submit "GUARDAR CAMBIOS", class: "btn btn-block btn-info btn-fill" %>
  <div class="clearfix"></div>
<% end %>


