<% @payments.each do |payment| %>
  <tr>
    <td><%= payment.date %></td>
    <td><%= payment.enrollment.full_name %></td>
    <td><%= payment.enrollment.group.name %></td>
    <td><%= payment.concept %></td>
    <td><%= payment.amount %></td>
    <td><%= payment.reference %></td>
    <% if payment.status == 1 %>
      <td><button class="btn btn-sm btn-success btn-fill">Confirmado</button></td>
    <% else %>
      <td><button class="btn btn-sm btn-warning btn-fill">Por Confirmar</button></td>
    <% end %>
    <td class="text-right">
      <%= link_to edit_admin_all_payment_path(payment), class: "btn btn-simple btn-warning btn-icon edit" do %>
        <i class="fa fa-edit"></i>
      <% end %>
      <%= link_to admin_all_payment_path(payment), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-simple btn-danger btn-icon remove" do %>
        <i class="fa fa-times"></i>
      <% end %>
    </td>
  </tr>
<% end %>