<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            Editar Pago de <%= @payment.enrollment.full_name %> en <%= @payment.enrollment.group.name %>
            <%= link_to admin_all_payments_path, class: "btn btn-info pull-right" do %>
              <i class="fa fa-arrow-left"></i> Regresar</a>
            <% end %>
          </div>
          <div class="content">
            <%= render 'form' %>
          </div>
        </div> <!-- end card -->
      </div> <!-- end col-md-12 -->
    </div> <!-- end row -->
  </div>
</div>
