<% content_for :breadcrumb do %>
  <%= link_to "Pagos", admin_all_payments_path, class: "navbar-brand" %>
<% end %>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="content">
            <div class="fresh-datatables">
              <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Usuario</th>
                  <th>Grupo</th>
                  <th>Concepto</th>
                  <th>Monto</th>
                  <th>Referencia</th>
                  <th>Status</th>
                  <th class="disabled-sorting text-right">Acciones</th>
                </tr>
                </thead>
                <tbody id="all-payments">
                  <%= render "payments" %>
                </tbody>
              </table>
            </div>
          </div><!-- end content-->
        </div><!--  end card  -->
      </div> <!-- end col-md-12 -->
    </div> <!-- end row -->
  </div>
</div>