<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="card">
      <div class="header text-center">Registro</div>
      <div class="content">
          <%= devise_error_messages! %>
          <%= render "devise/shared/flashes" %>
          <div class="form-group">
              <label>Email</label>
              <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "Ingresa tu email" %>
          </div>
          <div class="form-group">
              <label>Clave</label>
              <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Ingresa tu clave" %>
          </div>
          <div class="form-group">
              <label>Confirmar Clave</label>
              <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", placeholder: "Confirma tu clave" %>
          </div>
      </div>
      <div class="footer text-center">
          <%= f.submit "Registrarme", class: "btn btn-fill btn-info btn-wd" %>
      </div>
  </div>
<% end %>