<% if flash[:alert] %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-warning text-center" role="alert">
        <%= flash[:alert] %>
      </div>
    </div>
  </div>
<% end %>
<% if flash[:notice] %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success text-center" role="alert">
        <%= flash[:notice] %>
      </div>
    </div>
  </div>
<% end %>