<h3 class="text-center">Selecciona un Grupo de <%= @category.name.titleize%></h3>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <% @groups.each do |group| %>
        <div class="col-md-6">
          <div class="card">
            <div class="header text-center">
              <h4 class="title"><%= group.name %></h4>
              <p class="category"><%= group.places - group.enrollments.count  %> cupos disponibles</p>
            </div>
            <div class="content">
              <%= link_to "Ver más", group_path(group), class: "btn btn-info btn-block btn-fill btn-wd" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>