<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header text-center">
            <div class="row">
              <div class="col-md-2 hidden-xs">
                <%= link_to category_groups_path(@group.category), class: "btn btn-info" do %>
                  <i class="fa fa-arrow-left"></i> Regresar
                <% end %>
              </div>
              <div class="col-md-8">
                <h4 class="title"><%= @group.name %></h4>
                <p class="category"><%= @group.places - @group.enrollments.count %> cupos disponibles</p>
              </div>
              <div class="col-md-2">
                <% if @available_places > 0 %>
                  <%= link_to 'Inscribirme', new_group_enrollment_path(@group), class: "btn btn-info btn-block btn-fill btn-lg" %>
                <% else %>
                 <button class="btn btn-warning btn-block btn-fill btn-lg disables">Cupos Llenos</button>
                <% end %>
              </div>
            </div>
          </div>
          <hr>
          <div class="content">
              <p><%= simple_format(@group.description) %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>