<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>
  <div class="card">
    <div class="header text-center">Ingreso</div>
    <div class="content">
      <%= devise_error_messages! %>
      <%= render "devise/shared/flashes" %>
      <div class="form-group">
        <label>Clave</label>
        <%= f.password_field :password, class: "form-control", autofocus: true, autocomplete: "off", placeholder: "Ingresa tu nueva clave" %>
      </div>
      <div class="form-group">
        <label>Clave</label>
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", placeholder: "Confirma tu nueva clave" %>
      </div>
    </div>
    <div class="footer text-center">
        <%= f.submit "Guardar", class: "btn btn-fill btn-info btn-wd" %>
    </div>
  </div>
<% end %>