<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="card">
      <div class="header text-center">Olvidé Mi Clave</div>
      <div class="content">
        <%= devise_error_messages! %>
        <%= render "devise/shared/flashes" %>
        <div class="form-group">
            <label>Email</label>
            <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "Ingresa tu email" %>
        </div>
      </div>
      <div class="footer text-center">
          <%= f.submit "Enviarme link para resetar Clave", class: "btn btn-fill btn-info btn-wd" %></br>
          <%= link_to "Ingresar", new_session_path(resource_name) %>
      </div>
  </div>
<% end %>