<% content_for :breadcrumb do %>
  <%= link_to "Pagos de #{@enrollment.full_name}", admin_group_enrollments_path(@enrollment.group), class: "navbar-brand" %>
<% end %>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="content">
              <div class="toolbar">
                <%= link_to admin_group_enrollments_path(@enrollment.group), class: "btn btn-info" do %>
                  <i class="fa fa-arrow-left"></i> Regresar</a>
                <% end %>
              </div>
              <div class="fresh-datatables">
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                  <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Monto</th>
                    <th>Referencia</th>
                    <th>Status</th>
                    <th class="disabled-sorting text-right">Acciones</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% @payments.each do |payment| %>
                      <tr>
                        <td><%= payment.date %></td>
                        <td><%= payment.concept %></td>
                        <td><%= payment.amount %></td>
                        <td><%= payment.reference %></td>
                        <% if payment.status == 1 %>
                          <td><button class="btn btn-sm btn-success btn-fill">Confirmado</button></td>
                        <% else %>
                          <td><button class="btn btn-sm btn-warning btn-fill">Por Confirmar</button></td>
                        <% end %>
                        <td class="text-right">
                          <%= link_to edit_admin_payment_path(payment), class: "btn btn-simple btn-warning btn-icon edit" do %>
                            <i class="fa fa-edit"></i>
                          <% end %>
                          <%= link_to admin_payment_path(payment), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-simple btn-danger btn-icon remove" do %>
                            <i class="fa fa-times"></i>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
          </div><!-- end content-->
        </div><!--  end card  -->
      </div> <!-- end col-md-12 -->
    </div> <!-- end row -->
  </div>
</div>