<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>

<p>
  <strong>Date:</strong>
  <%= @payment.date %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @payment.bank %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @payment.reference %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @payment.owner %>
</p>

<p>
  <strong>Concept:</strong>
  <%= @payment.concept %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @payment.comments %>
</p>

<p>
  <strong>Enrollment:</strong>
  <%= @payment.enrollment %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
