<%= form_for([@group, @enrollment]) do |f| %>
  
  <% if @enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
      <% @enrollment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>Nombres</label>
        <%= f.text_field :first_name, class: "form-control", required: true %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Apellidos</label>
        <%= f.text_field :last_name, class: "form-control", required: true %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Fecha de Nacimiento</label>
        <%= f.date_field :birthdate, class: "form-control", required: true %>
      </div>
    </div>
    <% unless @group.category.organization.id == 4 %>
    <div class="col-md-3">
      <div class="form-group">
        <label>Cedula</label>
        <%= f.text_field :id_number, class: "form-control", required: true %>
      </div>
    </div>
    <% end %>
  </div>
  
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>Teléfono fijo</label>
        <%= f.text_field :phone, class: "form-control", required: true %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Teléfono móvil</label>
        <%= f.text_field :mobile, class: "form-control", required: true %>
      </div>
    </div>
    <% unless @group.category.organization.id == 4 %>
    <div class="col-md-3">
      <div class="form-group">
        <label>Ocupación</label>
        <%= f.text_field :occupation, class: "form-control", required: true %>
      </div>
    </div>
    <% end %>
    <div class="col-md-3">
      <div class="form-group">
        <label>¿Quién lo refirió?</label>
        <%= f.text_field :refered_by, class: "form-control", required: true %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="adresse-field">Dirección Domicilio</label>
            <%= f.text_area :address, class: "form-control", required: true %>
        </div>
    </div>
  </div>
  
  <div class="header text-center">Pago de inscripción</div></br>
  
  <%= f.fields_for :payments do |fp| %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Monto de Pago</label>
        <%= fp.number_field :amount, class: "form-control", required: true %>
      </div>  
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Fecha de Pago</label>
        <%= fp.date_field :date, class: "form-control", required: true %>
      </div>  
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Concepto de Pago</label>
        <%= fp.text_field :concept, class: "form-control", required: true %>
      </div>  
    </div>
  </div>
  
  <div class="row">
    <% unless @group.category.organization.id == 4 %>
    <div class="col-md-4">
      <div class="form-group">
        <label>Banco de Origen</label>
        <%= fp.text_field :bank, class: "form-control", required: true %>
      </div>  
    </div>
    <% end %>
    <div class="col-md-4">
      <div class="form-group">
        <label>Referencia de Pago</label>
        <%= fp.text_field :reference, class: "form-control", required: true %>
      </div>  
    </div>
    <% unless @group.category.organization.id == 4 %>
    <div class="col-md-4">
      <div class="form-group">
        <label>Titular de Cuenta</label>
        <%= fp.text_field :owner, class: "form-control"%>
      </div>  
    </div>
    <% end %>
  </div>
  <% end %>

  <%= f.submit "REGISTRAR MI INSCRIPCIÓN", class: "btn btn-block btn-info btn-fill" %>
  <div class="clearfix"></div>
<% end %>


