<h3 class="text-center">Mis Inscripciones</h3>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="content">
            <div class="fresh-datatables">
              <table class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                <thead>
                  <tr>
                    <th>Grupo</th>
                    <th>Inscrito</th>
                    <th>Status de Inscripción</th>
                    <th>Pagos</th>
                    <th class="disabled-sorting text-right">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                <% @enrollments.each do |enrollment| %>
                  <tr>
                    <td><%= enrollment.group.name %></td>
                    <td><%= enrollment.first_name %> <%= enrollment.last_name %></td>
                    <% if enrollment.status == 1 %>
                      <td><button class="btn btn-sm btn-success btn-fill">Confirmado</button></td>
                    <% else %>
                      <td><button class="btn btn-sm btn-warning btn-fill">Por Confirmar</button></td>
                    <% end %>
                    <td><%= link_to "Ver #{enrollment.payments.count} Pagos", enrollment_payments_path(enrollment), class: "btn btn-sm btn-info btn-fill" %></td>
                    <td class="text-right">
                      <%= link_to enrollment, method: :delete, class: "btn btn-simple btn-danger btn-icon remove", data: { confirm: 'Are you sure?' } do %>
                        <i class="fa fa-times"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>  
                </tbody>
              </table>
            </div>
          </div><!-- end content-->
        </div><!--  end card  -->
      </div> <!-- end col-md-12 -->
    </div> <!-- end row -->
  </div>
</div>
