<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="card">
    <div class="header text-center">Ingreso</div>
    <div class="content">
        <%= render "devise/shared/flashes" %>
        <div class="form-group">
            <label>Email</label>
            <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "Ingresa tu email" %>
        </div>
        <div class="form-group">
            <label>Clave</label>
            <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Ingresa tu clave" %>
        </div>
    </div>
    <div class="footer text-center">
        <%= f.submit "Ingresar", class: "btn btn-fill btn-info btn-wd" %><br />
        <%= link_to "Olvidé mi Clave", new_password_path(resource_name) %>
    </div>
  </div>
<% end %>