<%= form_for([@enrollment, @payment]) do |f| %>
  
  <% if @enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
      <% @enrollment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Monto de Pago</label>
        <%= f.number_field :amount, class: "form-control", required: true %>
      </div>  
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Fecha de Pago</label>
        <%= f.date_field :date, class: "form-control", required: true %>
      </div>  
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Concepto de Pago</label>
        <%= f.text_field :concept, class: "form-control", required: true %>
      </div>  
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Banco de Origen</label>
        <%= f.text_field :bank, class: "form-control", required: true %>
      </div>  
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Referencia de Pago</label>
        <%= f.text_field :reference, class: "form-control", required: true %>
      </div>  
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Titular de Cuenta</label>
        <%= f.text_field :owner, class: "form-control"%>
      </div>  
    </div>
  </div>

  <%= f.submit "REPORTAR MI PAGO", class: "btn btn-block btn-info btn-fill" %>
  <div class="clearfix"></div>
<% end %>


