<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header text-center">
            <div class="row">
              <div class="col-md-2 hidden-xs">
                <%= link_to enrollments_path, class: "btn btn-info" do %>
                  <i class="fa fa-arrow-left"></i> Regresar
                <% end %>
              </div>
              <div class="col-md-8">
                <h4 class="title">Mis Pagos</h4>
                <p class="category"><%= @enrollment.group.name %></p>
              </div>
              <div class="col-md-2">
                <%= link_to 'Nuevo Pago', new_enrollment_payment_path(@enrollment), class: "btn btn-info btn-block btn-fill btn-lg" %>
              </div>
            </div>
          </div>
          <hr>
          <div class="content">
            <div class="fresh-datatables">
              <table class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Monto</th>
                    <th>Referencia</th>
                    <th>Status</th>
                    <th class="disabled-sorting text-right">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <% @payments.each do |payment| %>
                    <tr>
                      <td><%= payment.date %></td>
                      <td><%= payment.concept %></td>
                      <td><%= number_with_delimiter payment.amount, locale: :es %></td>
                      <td><%= payment.reference %></td>
                      <% if payment.status == 1 %>
                          <td><button class="btn btn-sm btn-success btn-fill">Confirmado</button></td>
                        <% else %>
                          <td><button class="btn btn-sm btn-warning btn-fill">Por Confirmar</button></td>
                        <% end %>
                      <td class="text-right">
                        <%= link_to payment, method: :delete, data: { confirm: '¿Estás seguro que deseas borrar este pago?' }, class: "btn btn-simple btn-danger btn-icon remove" do %>
                          <i class="fa fa-times"></i>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div><!-- end content-->
        </div><!--  end card  -->
      </div> <!-- end col-md-12 -->
    </div> <!-- end row -->
  </div>

        </div>
