<% @categories.each do |category| %>
  <tr>
    <td><%= category.position %></td>
    <td><%= category.name %></td>
    <% if category.status %>
      <td><%= link_to "Activa", status_admin_category_path(category), remote: true, class: "btn btn-sm btn-success btn-fill" %></td>
    <% else %>
      <td><%= link_to "Inactiva", status_admin_category_path(category), remote: true, class: "btn btn-sm btn-warning btn-fill" %></td>
    <% end %>
    <td>
      <%= link_to admin_category_groups_path(category), class: "btn btn-sm btn-info btn-fill" do %>
         Ver <%= category.groups.count %>
      <% end %>
    </td>
    <td class=" text-right">
      <%= link_to edit_admin_category_path(category), class: "btn btn-simple btn-warning btn-icon edit" do %>
        <i class="fa fa-edit"></i>
      <% end %>
      <%= link_to admin_category_path(category), method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-simple btn-danger btn-icon remove" do %>
        <i class="fa fa-times"></i>
      <% end %>
    </td>
  </tr>
<% end %>