<%= form_for([:admin, @category]) do |f| %>
  
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <label>Nombre</label>
    <%= f.text_field :name, class: "form-control", placeholder: "Nombre de la Categoría" %>
  </div>
  <div class="form-group">
    <label>Posición</label>
    <%= f.select :position, options_for_select(1..@categories.count+1, selected: @category.position), {}, {class: 'selectpicker'} %>
  </div>
  <div class="form-group">
    <label>Status</label>
    <%= f.select :status, options_for_select([["Activo", true],["Inactivo", false]], selected: @category.status), {}, {class: 'selectpicker'} %>
  </div>
  <br>
  <%= f.submit "Guardar", class: "btn btn-block btn-fill btn-info" %>
<% end %>