<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="content">
              <div class="toolbar">
                <%= link_to new_admin_category_path, class: "btn btn-fill btn-info" do %>
                  <i class="fa fa-plus"></i> Nueva Categoría
                <% end %>
              </div>
              <div class="fresh-datatables">
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                  <thead>
                  <tr>
                    <th>Posición</th>
                    <th>Categoría</th>
                    <th>Status</th>
                    <th>Grupos</th>
                    <th class="disabled-sorting text-right">Actions</th>
                  </tr>
                  </thead>
                  <tbody id="all-categories">
                    <%= render "category" %>
                  </tbody>
                </table>
              </div>
          </div><!-- end content-->
        </div><!--  end card  -->
      </div> <!-- end col-md-12 -->
    </div> <!-- end row -->
  </div>
</div>