<%= form_for([:admin, @category, @group]) do |f| %>
  
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <label>Nombre</label>
    <%= f.text_field :name, class: "form-control", placeholder: "Nombre del Grupo", required: true %>
  </div>
  <div class="form-group">
    <label>Cupos</label>
    <%= f.number_field :places, class: "form-control", placeholder: "Total cupos disponibles", required: true %>
  </div>
  <div class="form-group">
    <label>Posición</label>
    <%= f.select :position, options_for_select(1..@groups_count+1, selected: @group.position), {}, {class: 'selectpicker'} %>
  </div>
  <div class="form-group">
    <label>Status</label>
    <%= f.select :status, options_for_select([["Activo", true],["Inactivo", false]], selected: @group.status), {}, {class: 'selectpicker'} %>
  </div>
  <div class="form-group">
    <label>Descripción</label>
    <%= f.text_area :description, rows: 5, class: "form-control", placeholder: "Descripción del Grupo" %>
  </div>
  <br>
  <%= f.submit "Guardar", class: "btn btn-block btn-fill btn-info" %>
<% end %>
