<% content_for :breadcrumb do %>
  <%= link_to "Grupos en #{@category.name}", admin_categories_path, class: "navbar-brand" %>
<% end %>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="content">
              <div class="toolbar">
                <%= link_to new_admin_category_group_path(@category), class: "btn btn-fill btn-info" do %>
                  <i class="fa fa-plus"></i> Nuevo Grupo
                <% end %>
              </div>
              <div class="fresh-datatables">
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                  <thead>
                  <tr>
                    <th>Posición</th>
                    <th>Grupo</th>
                    <th>Status</th>
                    <th>Inscritos</th>
                    <th class="disabled-sorting text-right">Acciones</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% @groups.each do |group| %>
                      <tr>
                        <td><%= group.position %></td>
                        <td><%= group.name %></td>
                        <% if group.status %>
                          <td><button class="btn btn-sm btn-success btn-fill">Activo</button></td>
                        <% else %>
                          <td><button class="btn btn-sm btn-warning btn-fill">Inactivo</button></td>
                        <% end %>
                        <td>
                          <%= link_to admin_group_enrollments_path(group), class: "btn btn-sm btn-info btn-fill" do %>
                             <%= group.enrollments.count %> de <%= group.places %>
                          <% end %>
                        </td>
                        <td class=" text-right">
                          <%= link_to edit_admin_group_path(group), class: "btn btn-simple btn-warning btn-icon edit" do %>
                            <i class="fa fa-edit"></i>
                          <% end %>
                          <%= link_to admin_group_path(group), method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-simple btn-danger btn-icon remove" do %>
                            <i class="fa fa-times"></i>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
          </div><!-- end content-->
        </div><!--  end card  -->
      </div> <!-- end col-md-12 -->
    </div> <!-- end row -->
  </div>
</div>
