<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @group.position %>
</p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Places:</strong>
  <%= @group.places %>
</p>

<p>
  <strong>Status:</strong>
  <%= @group.status %>
</p>

<p>
  <strong>Category:</strong>
  <%= @group.category %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
