<h3 class="text-center">Selecciona una Organización</h3>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <% @organizations.each do |organization| %>
        <div class="col-md-6">
          <div class="card">
            <div class="header">
              <h4 class="title text-center"><%= organization.name.titleize %></h4>
            </div>
            <div class="content">
              <%= link_to "Ver más", organization_categories_path(organization), class: "btn btn-info btn-block btn-fill btn-wd" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>