<h3 class="text-center">Selecciona una Categoría</h3>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <% @categories.each do |category| %>
        <div class="col-md-6">
          <div class="card">
            <div class="header">
              <h4 class="title text-center"><%= category.name %></h4>
            </div>
            <div class="content">
              <%= link_to "Ver Grupos", category_groups_path(category), class: "btn btn-info btn-block btn-fill btn-wd" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>