<p>¡Hola <%= @resource.email %>!</p>

<p>Se solicitó este link para resetar tu clave. Si deseas cambiarla haz click en el link debajo.</p>

<p><%= link_to 'Cambiar mi Clave', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has solicito esto, por favor ignora este correo.</p>
<p>Tu clave no cambiará hasta que accedas este link y crees una nueva.</p>
