<% content_for :breadcrumb do %>
  <%= link_to "Inscritos en #{@group.name}", admin_category_groups_path(@group.category), class: "navbar-brand" %>
<% end %>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="content">
              <div class="toolbar">
                <%= link_to admin_category_groups_path(@group.category), class: "btn btn-info" do %>
                  <i class="fa fa-arrow-left"></i> Regresar</a>
                <% end %>
              </div>
              <div class="fresh-datatables">
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                  <thead>
                  <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Status</th>
                    <th>Pagos</th>
                    <th class="disabled-sorting text-right">Acciones</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% @enrollments.each do |enrollment| %>
                      <tr>
                        <td><%= enrollment.first_name %></td>
                        <td><%= enrollment.last_name %></td>
                        <td><%= enrollment.user.email %></td>
                        <td><%= enrollment.mobile %></td>
                        <% if enrollment.status == 1 %>
                          <td><button class="btn btn-sm btn-success btn-fill">Confirmada</button></td>
                        <% else %>
                          <td><button class="btn btn-sm btn-warning btn-fill">Por Confirmar</button></td>
                        <% end %>
                        <td>
                          <%= link_to admin_enrollment_payments_path(enrollment), class: "btn btn-sm btn-info btn-fill" do %>
                             <%= enrollment.payments.count %>
                          <% end %>
                        </td>
                        <td class=" text-right">
                          <%= link_to edit_admin_enrollment_path(enrollment), class: "btn btn-simple btn-warning btn-icon edit" do %>
                            <i class="fa fa-edit"></i>
                          <% end %>
                          <%= link_to admin_enrollment_path(enrollment), method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-simple btn-danger btn-icon remove" do %>
                            <i class="fa fa-times"></i>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
          </div><!-- end content-->
        </div><!--  end card  -->
      </div> <!-- end col-md-12 -->
    </div> <!-- end row -->
  </div>
</div>