<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header text-center">
            <div class="row">
              <div class="col-md-2 hidden-xs">
                <%= link_to group_path(@group), class: "btn btn-info" do %>
                  <i class="fa fa-arrow-left"></i> Regresar</a>
                <% end %>
              </div>
              <div class="col-md-8">
                <h4 class="title">Inscripcion: <%= @group.name %></h4>
              </div>
              <div class="col-md-2">
              </div>
            </div>
          </div>
          <hr>
          <div class="content">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
