<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @enrollment.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @enrollment.last_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @enrollment.status %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @enrollment.id_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @enrollment.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @enrollment.phone %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @enrollment.occupation %>
</p>

<p>
  <strong>Refered by:</strong>
  <%= @enrollment.refered_by %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @enrollment.comments %>
</p>

<p>
  <strong>Group:</strong>
  <%= @enrollment.group %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
