<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Grupi</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="wrapper">
  <div class="sidebar" data-color="azure">
    <div class="logo">
      <a href="#" class="logo-text">
        Grupi
      </a>
    </div>
		<div class="logo logo-mini">
			<a href="#" class="logo-text">
				Grupi
			</a>
		</div>

    <div class="sidebar-wrapper">
      <% if user_signed_in? || admin_signed_in? %>
      <div class="user">
        <div class="photo">
          <%= image_tag("avatar.png") %>
        </div>
        <div class="info">
          <a data-toggle="collapse" href="#collapseExample" class="collapsed">
            <%= current_user.email if user_signed_in? %>
            <%= current_admin.email if admin_signed_in? %>
            <b class="caret"></b>
          </a>
          <div class="collapse" id="collapseExample">
            <ul class="nav">
              <li><%= link_to "Editar Mi Perfil", edit_user_registration_path if user_signed_in? %></li>
              <li><%= link_to "Editar Mi Perfil", edit_admin_password_path if admin_signed_in? %></li>
            </ul>
            <ul class="nav">
              <li><%= link_to 'Salir', destroy_user_session_path, method: :delete if user_signed_in? %></li>
              <li><%= link_to 'Salir', destroy_admin_session_path, method: :delete if admin_signed_in? %></li>
            </ul>
          </div>
        </div>
      </div>
      <% end %>
      
      <ul class="nav">
        <% if admin_signed_in? %>
          <li>
            <%= link_to admin_categories_path do %>
              <i class="pe-7s-keypad"></i>
              <p>Grupos</p>
            <% end %>
          </li>
          <li>
            <%= link_to admin_all_payments_path do %>
              <i class="pe-7s-piggy"></i>
              <p>Pagos</p>
            <% end %>
          </li>
          <li>
            <%= link_to admin_users_path do %>
              <i class="pe-7s-users"></i>
              <p>Usuarios</p>
            <% end %>
          </li>
        <% else %>
        <li>
          <% if session[:org] %>
            <%= link_to organization_categories_path(session[:org]) do %>
              <i class="pe-7s-search"></i>
              <p>Buscar Grupos</p>
            <% end %>
          <% else %>
            <%= link_to organizations_path do %>
              <i class="pe-7s-search"></i>
              <p>Buscar Grupos</p>
            <% end %>
          <% end %>
        </li>
        <li>
          <%= link_to enrollments_path do %>
            <i class="pe-7s-like2"></i>
            <p>Mis Grupos</p>
          <% end %>
        </li>
        <% end %>
      </ul>
    	</div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-minimize">
					<button id="minimizeSidebar" class="btn btn-info btn-fill btn-round btn-icon">
						<i class="fa fa-ellipsis-v visible-on-sidebar-regular"></i>
						<i class="fa fa-navicon visible-on-sidebar-mini"></i>
					</button>
				</div>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<%= yield :breadcrumb %>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<!--
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-bell-o"></i>
								<span class="notification">3</span>
								<p class="hidden-md hidden-lg">
									Notifications
									<b class="caret"></b>
								</p>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">Notificación 1</a></li>
								<li><a href="#">Notificación 2</a></li>
								<li><a href="#">Notificación 3</a></li>
							</ul>
						</li>
						-->
						<li>
						  <% if admin_signed_in? %>
                <%= link_to destroy_admin_session_path, :method => :delete do %>
                  <i class="fa fa-sign-out"></i>
                  Salir
                <% end %>
              <% elsif user_signed_in? %>
                <%= link_to destroy_user_session_path, :method => :delete do %>
                  <i class="fa fa-sign-out"></i>
                  Salir
                <% end %>
              <% else %>
                <li>
                  <%= link_to "Ingresar", new_user_session_path %>
                </li>
                <li>
                  <%= link_to "Registrarme", new_user_registration_path %>
              <% end %>
            </li>

					</ul>
				</div>
			</div>
		</nav>
		
		<% if flash[:notice] %>
		  <br>
		  <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="alert alert-success text-center" role="alert">
            <%= flash[:notice] %>
          </div>
        </div>
      </div>
    <% end %>
		
		<%= yield %>

    <footer class="footer">
      <div class="container-fluid">
        <p class="copyright pull-right">
          &copy; 2017 <a href="#">Grupi</a>
        </p>
      </div>
    </footer>

  </div>
</div>
</body>
</html>