<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Grupi</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to "Grupi", root_path, class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse">
            
            <ul class="nav navbar-nav navbar-right">
                <li>
                  <% if controller_path == 'sessions/user' %>
                    <%= link_to "¿Primera vez? Regítrate aqui", new_registration_path(resource_name) %><br />
                  <% end %>
                    
                  <% if controller_path == 'registrations/user' && action_name == 'new' %>
                    <%= link_to "¿Ya tienes cuenta? Ingresa aquí", new_session_path(resource_name) %><br />
                  <% end -%>
                  
                  <% if controller_path == 'registrations/user' && action_name == 'edit' %>
                    <%= link_to "Regresar a Mis Grupos", enrollments_path %><br />
                  <% end -%>
                </li>
            </ul>
        </div>
    </div>
  </nav>

  <div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="azure"><!--  "blue | azure | green | orange | red | purple" -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        
                      <%= yield %>  
                                
                    </div>
                </div>
            </div>
        </div>

    </div>
       
</div>

</body>
</html>